.topPart{
  background:#fdb913;
  border-bottom: 10px solid #000000;
  color: #000000;
  display: flex;
  margin-top: 3%;
  padding-top: 1%;
}
.logoPart{
  display: flex;
  font-family:'Shadows Into Light', cursive; 
  padding-bottom: 1%;
}
nav{
  margin-left: 18%;
  text-align: right;
}
nav li{
  list-style-type: none;
  display: inline-block;
  font-size: 24px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 8%;
}
.firstPart{
  background-image:url(./assets/moki.jpeg);
  background-size: cover;
  margin-bottom: 3%;
  margin-top: 1%;
}
.innerFirstPart{
  padding-top: 30%;
  padding-bottom: 10%;
}
.banner{
  width: 400px;
  height: 300px;
  background: #000000;
  color:#fdb913;
  border-radius: 50%;
  text-align: center;
  /* margin-bottom: 20%; */
  margin-left: 60%;
  
} 
.hot{
  padding-top: 20%;
}
