/*********************** begginning of top banner part *************************/

.topPart{
  background:#fdb913;
  border-bottom: 10px solid #121B22;
  color: #000000;
  display: flex;
  margin-top: 3%;
  padding-top: 1%;
}
.logoPart{
  display: flex;
  font-family:'Shadows Into Light', cursive; 
  padding-bottom: 2%;
}
nav{
  margin-left: 31%;
  text-align: right;
}
nav li{
  list-style-type: none;
  display: inline-block;
  font-size: 24px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 8%;
}
.firstPart{
  background-image:url(./assets/MOMO.jpg);
  background-size: cover;
  margin-bottom: 3%;
}
.innerFirstPart{
  padding-top: 44%;
  padding-bottom: 4%;
}
.banner{
  width: 290px;
  height: 250px;
  color: #000000;
  background:#ffffff;
  border-radius: 50%;
  margin-left: 68%;
  transform: rotate(120deg);
} 
.hot{
  font-family:'Shadows Into Light', cursive;
  padding-bottom: 13%;
  margin-left: 5%;
  transform: rotate(240deg);
}

/*************************** end of top banner part *************************/

/*************************** beginning of how to order part ***************************/

.secondPart{
  padding-top: 2%;
}
.delivery{
  text-align: center;
  font-family:'Shadows Into Light', cursive; 
} 
main{
  display: flex;
  justify-content: space-between;
  margin-left: 4%;
  margin-right: 4%;
  padding-top: 3%;
  padding-bottom: 5%;
  margin-bottom: 1%;
}
.words{
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}
.register,.pick, .order ,.doorstep{
  display: none;
}

/************************* end of how to order part ****************************/

/*************************** beginning of the form part *************************/
.container{
  background-color: #fdb913;
  border-radius: 5px;
}
.own{
  padding-top: 2%;
  padding-bottom: 2%;
  text-align: center;
}
.card{
  margin-left: 30%;
  margin-right:30%;
  padding: 3%;
  margin-bottom: 2%;
}
#username,#password{
  padding: 10px;
  border-radius: 10px;
  outline: none;
}
.partOne{
  display: flex;
  justify-content: space-between;
}
.pizzaHeader,.home{
  margin-top: 2%;
  font-size: 20px;
}
.inputOne{
  margin-left: 25%;
}
.formGroupVeg{
  display: flex;
  justify-content: space-evenly;
}  
.secondPartDisplay{
  display: flex;
}
.btn{
 margin-left: 42%;
 margin-top: 3%;
 margin-bottom: 2%;
 padding: 10px;
 border-radius: 5px;
 background-color:#121B22 ;
 color: #ccc;
}

/**************************** end of form part ****************************/ 

/************************ beginning of special offers part ************************/
.special{
  margin-top: 2%;
  text-align: center;
  font-family:'Shadows Into Light', cursive;  
}
.decker{
  text-align: center;
  margin-top: 1%;
}
.specialOffer1{
  display: flex;
  margin-left: 20%;
  margin-top: 1%;
}
.chicken,.meat{
  margin-right: 5%;
}
.offerOne{
  display: flex;
  justify-content: space-between;
  padding-top: 10%;
}
.offerTwo{
  display: flex;
  justify-content: space-between;
  padding-top: 7%;
}
.meat{
  margin-left: 6%;
}
.cream{
  text-align: left;
  margin-right: 5%;
}
.double{
  width: 400px;
  height:300px ;
}
.specialOffer2{
  display: flex;
  margin-left: 17%;
}
.layers{
  text-align: left;
}

/************************** end of special offers part part **************************/

/**************************** beginning of about us part ***************************/
footer{
  background-color:#121B22; 
  color:#ffffff;
}
.about{
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
  padding-top: 2%;
  /* padding-bottom: 2%; */
}
.aboutUs,.contact{
  margin-left: 4%;
  margin-right: 4%;
}
.story,.branchone,.branchtwo,.customer,.twitter{
  margin-left: 15%;
}
.copyright{
  margin-left: 38%;
  padding-bottom: 2%;
}

/**************************** end of about us part ****************************/